<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <includes>
                <include>org.xbib.elasticsearch.plugin</include>
            </includes>
        </dependencySet>
    </dependencySets>
    <fileSets>
        <fileSet>
            <directory>${project.build.directory}/releases</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>*-uberjar.jar</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>bin/*.sh</include>
                <include>bin/**/*.sh</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}/src/test/resources</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>log4j.properties</include>
                <include>log4j2.xml</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>
