<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <unpack>false</unpack>
            <scope>compile</scope>
            <includes>
                <include>org.xbib:xbib-core</include>
                <include>org.xbib:xbib-oai</include>
                <include>xerces:xercesImpl</include>
                <include>xalan:xalan</include>
                <include>xalan:serializer</include>
                <include>com.ning:async-http-client</include>
                <include>io.netty:netty</include>
                <include>org.slf4j:slf4j-api</include>
                <include>org.slf4j:slf4j-log4j12</include>
                <include>com.google.guava:guava</include>
            </includes>
            <excludes>
                <exclude>org.elasticsearch:elasticsearch</exclude>
            </excludes>
        </dependencySet>
    </dependencySets>  
    <fileSets>
        <fileSet>
            <directory>${project.build.directory}</directory>
            <outputDirectory>/</outputDirectory>
            <includes>
                <include>*.jar</include>
            </includes>
            <excludes>
                <exclude>*sources*.jar</exclude>    
            </excludes>
        </fileSet>
    </fileSets>
</assembly>
