<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="JDBC River Test Suite (plugin)" verbose="1">

    <test name="Plugin Tests">
        <classes>
            <class name="org.xbib.elasticsearch.river.plugin.SQLCommandTests"/>
        </classes>
    </test>

</suite>
