<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.xbib" level="DEBUG"/>

    <logger name="org.elasticsearch" level="WARN"/>
    <logger name="org.xbib.elasticsearch.helper" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
